*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}
.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FSd3c0;
    color: #b79460;
}
.logo{
    font-size: 1.bream;
}
.logo span{
    color: #ef7889;
    font-weight: 700;
}
.nav ul li {`
list-style-type: none;
display: inline-block

}