*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}
.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FSd3c0;
    color: #b79460;
}
.logo{
    font-size: 1.bream;
}
.logo span{
    color: #ef7889;
    font-weight: 700;
}
.nav ul li {
list-style-type: none;
display: inline-block;
padding: 0 20xp;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(199, 96, 96);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
nav ul lu a:houver{
    border-bottom: #ef7889;
}
.btn{
    background-color: #ef7889;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.btn:houver{
    background-color: #fff;
    color:  rgb(199, 96, 96);
    border: #ef7889 2px solid;
}
