.container01{
    background-color: rgb(243, 228, 230);
    display: flex;
}
.container02{
    background-color: rgb(243, 228, 230);
    height: 450px;
    margin-top: 20px;
    display: flex;
}
.item{
    background-color: grey
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    width: 200px;
}
.red {
    background-color: red;
}
.greem {
    background-color: greenyellow;
}
.blue {
    background-color: blue;
}
.item01{

}
.item02{

}
.item04{

}