.container{
    border: 1px solid;
    width: 100%;
    height: 80px;
}
div{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box01{
    background-color: darkviolet;
}
.box02{
    background-color: rgba(0, 94, 255, 0.434);
}
.box03{
    background-color: tomato;
}