*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../css/img/dogs.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #888383;
}
.container{
    margin: 250px 0 20px 150px;
}
.title{
    font-size: 60px;
}
.subtitle{
    margin: 20px 0 50pz 0;
    font-size: 30px;
}
.button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #888383;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}